# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Specific file
dummy.py
temp.py

# Virtual environment
psyai/

# IDE & Jupyter
.vscode/
.ipynb_checkpoints/
*.ipynb

# FAISS index
mental_health_index/

# Sensitive files
.env

# Logs
*.log